<div class="row">
  <div class="col-sm-12 col-md-12 col-xl-12">

   <app-btnloading [texto]="'Ejercicio1'"
                   (click)="getData()"
                   [loading]="loading"
   ></app-btnloading>
  </div>
</div>
<ng-container *ngIf="tablaEjercicio1.data.length > 0">
  <div class="row mt-4 ">
    <div class="col-sm-12 col-md-12 col-xl-12">
      <div class="form-group">
        <label for="disabledArray">Array no procesado</label>
       <input type="text" [value]="tablaEjercicio1.data" id="disabledArray" class="form-control" disabled>
      </div>
    </div>
  </div>

  <div class="row mt-4 tableEjercicio ">
    <div class="col-md-12 col-sm-12 col-xl-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>N°</th>
            <th>Number</th>
            <th>Quantity</th>
            <th>First position</th>
            <th>Last position</th>
          </tr>
        </thead>
        <tbody >
        <tr [ngClass]="{'table-success':i.cont >= 2,
                        'table-warning':i.cont == 1,
                        'table-dark':i.cont < 1
                        }"
            *ngFor="let i of tablaEjercicio1.tabla;let indice=index">
          <td>{{indice + 1}}</td>
          <td>{{i.numero}}</td>
          <td>{{i.cont}}</td>
          <td>{{i.inI}}</td>
          <td>{{i.inF}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-4 ">
    <div class="col-sm-12 col-md-12 col-xl-12">
      <div class="form-group">
        <label for="disabledData">Array ordenado</label>
        <input type="text" [value]="tablaEjercicio1.orden" id="disabledData" class="form-control" disabled>
      </div>
    </div>
  </div>
</ng-container>
