
<div class="container ">
  <div id="accordion" class="mt-4">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link"
                  data-toggle="collapse"
                  data-target="#Ejercicio1"
                  aria-expanded="false"
                  aria-controls="Ejercicio1">
            Ejercicio #1
          </button>
        </h5>
      </div>
      <div id="Ejercicio1"
           class="collapse"
           aria-labelledby="headingOne"
           data-parent="#accordion">
        <div class="card-body">
          <app-ejercicio1></app-ejercicio1>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#Ejercicio2"
                  aria-expanded="false"
                  aria-controls="Ejercicio2">
            Ejercicio #2
          </button>
        </h5>
      </div>
      <div id="Ejercicio2"
           class="collapse"
           aria-labelledby="headingThree"
           data-parent="#accordion">
        <div class="card-body">
          <app-ejercicio2></app-ejercicio2>
        </div>
      </div>
    </div>
  </div>
</div>
