<div class="row">
  <div class="col-sm-12 col-md-12 col-xl-12">
    <app-btnloading [texto]="'Ejercicio2'"
                    (click)="getData()"
                    [loading]="loading"
    ></app-btnloading>
  </div>
</div>
<ng-container *ngIf="tablaEjercicio2.length > 0">
  <div class="row mt-4 tableEjercicio ">
    <div class="col-md-12 col-sm-12 col-xl-12">
      <table class="table table-hover table-bordered ">
        <thead>
          <tr>
            <td>
              N°
            </td>
            <td *ngFor="let i of alfabeto.split('')">
              {{i}}
            </td>
            <td>
              Suma numericos contenidos
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of tablaEjercicio2;let indice=index">
            <td>{{indice+1}}</td>
            <td *ngFor="let z of i.letras">
              {{z.total}}
            </td>
            <td>
              {{i.numeros}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
