<button class="btn btn-primary" type="button" [disabled]="loading">
  <span *ngIf="loading"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true">
  </span>
    {{loading?'Cargando':texto}}
</button>
